---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

Research interests
------
* Planetary atmosphere dynamics, radiative transfer, photochemistry

* Jupiter, polar vortices, vortex crystals, mesoscale waves

* Geophysical fluid dynamics, planetary circulation regimes, super-rotation, equatorial waves

* Atmospheric macroturbulence, Lorenz energy cycle, spectral energy flux

* Exoplanet habitability, detectability of biomarkers

{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}

